<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855337737027-1sjim0gr4vaes1t9q5cq4hrrtnsd650m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855337737027-1sjim0gr4vaes1t9q5cq4hrrtnsd650m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>855337737027-ndbrfi5h25h2f1j5ullm5r5jcqk3u620.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSQNcV4KUmlhxEx13KjdhWb7zuc7wsDSY</string>
	<key>GCM_SENDER_ID</key>
	<string>855337737027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myClients</string>
	<key>PROJECT_ID</key>
	<string>myclients-b4882</string>
	<key>STORAGE_BUCKET</key>
	<string>myclients-b4882.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855337737027:ios:956a839d98b6072440edf6</string>
</dict>
</plist>